:root{ /*É uma variável que permite mudar as cores. O root é o que eu vou carregar antes do resto*/
    --vermelho:  #E51B15; /*Cor principal do site*/
    --branco: #ffffff;
    -preto: #000000;
}
header{
    background-color: var(--vermelho);
}

nav{
    background-color: var(--vermelho);
}

footer{
    background-color: var(--vermelho);
}

.btn{
    background-color: var(--vermelho);
    color: var(--branco);
    border: 1px solid var(--branco);
}

.btn:hover{
    background-color: var(--branco);
    color: var(--vermelho);
    border: 1px solid var(--branco);
}

nav input{
    background-color: var(--branco) !important;
    color: var(--preto) !important;
    border-color: var(--branco) !important;
}

footer{
    background-color: var(--vermelho);
    color: var(--branco);
}

footer a{
    border: 1px solid var(--branco);
    border-radius: 50px;
    color: var(--branco);
    padding: 10px;
}

footer a:hover{
    color: var(--vermelho);
    background-color: var(--branco);
}

body{
    font-family: 'Open Sans', sans-serif;
}

.card-title{
    min-height: 80px;
}

.badge{
    background-color: var(--vermelho);
}